
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My First ASP.NET Site</title>
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/img/fav.png" rel="icon">
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="GradeCalc">Grade Calculator</a></li>
                <li><a href="http://tinyurl.com/4m6eoes">Bonus Page</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()
</body>
</html>