@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Benjamin Sierra's First ASNP.NET Site";
}


<body>
    <p>I hope to better learn how web applications are made and understand the underlying concepts of web development. Enterprise applications seem very indimidating and like there's always more to understand that you don't yet know. I hope to have at least some confidence going out into the world of web development feeling like I have a good idea of what's going on.</p>
    <p>Some of the job I want when I graduate:</p>
    <ol>
        <li>Solutions Architect</li>
        <li>Data Analyst</li>
        <li>Business Systems Analyst</li>
    </ol>
    <img src="~/img/ski.png" />


</body>