#grade {
    display:flex;
}

html {
    border: solid;
    border-width: 5 px;
    background-color: gainsboro
}

body {
    margin-left: 50px;
    font-family:'Book Antiqua';
    
}

h1#gradeOutput, h1#letterOutput, #sub > em {
    padding-left: 50px;
}

h1 {
    color: darkblue;
}

img {
    border-radius: 25px;
}

sub {
    display:flex
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 25px;
    font-size: 1.5rem;
}
